<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 53px;
    font-size: 1.5rem;

}

.navbar a:hover {
    background-color: #22a173;
    border-radius: 23px;
    text-align: center;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    text-align: center;
    display: table;
    overflow: wrap;
    background-color: rgb(255, 255, 255);
    width: 25%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flexbox;
    margin: 1%;




}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container .card img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 300px;


}

.course {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 2%;
}

.card a:hover {
    opacity: 0.6;
}

button:hover {
    opacity: 0.7;
    background-color: grey;
    transition: 0.4s;

}

body {
    margin: 0;
    width: 100%;
    background-color: #f1f1f1;

}

.container {

    box-sizing: border-box;
    width: 100%;

    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    display: flex;

}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #1a1919;



}

.head {

    padding: 23px 20px;
    margin-top: 5%;

=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 53px;
    font-size: 1.5rem;

}

.navbar a:hover {
    background-color: #22a173;
    border-radius: 23px;
    text-align: center;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    text-align: center;
    display: table;
    overflow: wrap;
    background-color: rgb(255, 255, 255);
    width: 25%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flexbox;
    margin: 1%;




}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container .card img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 300px;


}

.course {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 2%;
}

.card a:hover {
    opacity: 0.6;
}

button:hover {
    opacity: 0.7;
    background-color: grey;
    transition: 0.4s;

}

body {
    margin: 0;
    width: 100%;
    background-color: #f1f1f1;

}

.container {

    box-sizing: border-box;
    width: 100%;

    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    display: flex;

}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #1a1919;



}

.head {

    padding: 23px 20px;
    margin-top: 5%;

>>>>>>> 66fca9b (email feature)
}